*.iml
.gradle
gradle/caches
gradle/.tmp
gradle/android
gradle/daemon
gradle/jdks
gradle/kotlin-profile
gradle/native
gradle/wrapper/dists
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/BAG_LIST.txt
/app/google-services.json
.DS_Store
/app/build
/app/libs
.externalNativeBuild
.cxx
.gitignore
/app/.gitignore
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt